.artGrid {
    &__list {
        width: 100%;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $two-column) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}