.gridItem {
    margin-bottom: 4rem;
    //@media screen and (min-width: $ipad) and (max-width: calc($desktop - 1px))  {
        @media screen and (min-width: $two-column) and (max-width: $desktop-minus-one) {
        max-width: calc(50% - 2rem);
        &:nth-child(odd) {
            margin-right: 4rem;
        }
    }
    @media screen and (min-width: $desktop) {
        max-width: calc(33% - 2rem);
        margin-right: 3.4rem;
        margin-bottom: 3.4rem;
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    &__image {
        min-width: 50%
    }
    &__link {
        font-size: 0;
    }
}