<nav class="siteNav">
    <ul class="siteNav__list">
        <li class="siteNav__listItem">
            <a href="/illustration">
                Illustration
            </a>
        </li>
        <li class="siteNav__listItem">
            <a href="/portraits">
                Portraits
            </a>
        </li>
        <li class="siteNav__listItem">
            <a class="siteHeader__link" href="/about">About</a>
        </li>
        <li class="siteNav__listItem">
            <a class="siteHeader__link" href="/contact">Contact</a>
        </li>
    </ul>
</nav>
