    <nav class="p-6 flex justify-between items-start relative z-50">
        <a href="{{ .Site.BaseURL }}" class="block transition-transform hover:rotate-12">
            <img src="https://res.cloudinary.com/dodzkb914/image/upload/c_scale,w_200/v1561482355/fancytom-logo_zyrct1.png" alt="Logo" class="h-16 w-auto grayscale contrast-200">
        </a>
        <div class="flex flex-col items-end font-black uppercase text-2xl leading-none space-y-4">
            <a href="/" class="glitch-text transition-all border-b-4 border-black bg-white/60 px-2">Daily</a>
            <a href="/archive" class="glitch-text transition-all border-b-4 border-black bg-white/60 px-2">Archive</a>
            <a href="/about" class="glitch-text transition-all border-b-4 border-black bg-white/60 px-2">About</a>
            <a href="/index.xml" class="mono-font text-xs bg-black text-white px-2 py-1 rotate-[-6deg]">RSS / artwork</a>
        </div>
    </nav>
